:root {
    --dark-blue: rgb(37, 48, 60);
    --blue: #2C3D4E;
    --light-blue: #5e8eac;
    --text-color: #c3cfe0;
    --orange: #ffc000;
    --dark-orange: #c79501;
    --border-color: rgba(105, 109, 125, 0.4);
    --red-color: #ff3347;
    --border-radius: 5px;
    --shadow-block: 0 0 20px 0 rgba(0, 0, 0, 0.42);
}


/* TODO: https://habr.com/ru/ppg/sandbox/ */


/* TODO: https://account.habr.com/settings/ */


/* TODO: https://habr.com/ru/auth/settings/privacy/ */

.post__translatation-link:hover {
    text-decoration: none;
    color: var(--dark-orange);
}

.user-info__image-pic_small {
    border-radius: 50%;
}

.post__text-html code {
    font-family: monospace, monospace
}

.post__tag:hover {
    color: var(--dark-orange);
}

.post__tag {
    color: var(--orange);
    transition: 0.2s;
}

.post__type-label,
.post-info__meta-label {
    text-align: center;
    border: 1px dashed var(--orange);
}

#TMpanel .container .bmenu>a {
    transition: 0.5s ease-in-out;
}

#TMpanel .container .bmenu.slink>a {
    color: var(--orange) !important;
}

.content-list_comments .comment__folding-dotholder {
    display: none !important;
}

.promo-item {
    transition: 0.1s ease-in-out;
}

.promo-item:hover {
    background-color: var(--blue);
}

.app-client__description,
.defination-list__label,
#TMpanel .container .bmenu>a:hover,
#TMpanel .container .bmenu>a.current,
a.post__type-label:hover {
    color: var(--dark-orange);
}

.comment__date-time {
    color: rgba(255, 255, 255, 0.7)
}

.user-info__nickname_small,
.inline-list__item_hub a,
.post__text-html a,
.post__text-html a .post__text-html a,
.post__text-html a,
.post__text-html a,
.post__text-html a {
    transition: 0.1s ease-in-out;
}

.n-dropdown-menu__item-link_flow:hover {
    background-color: transparent;
    color: var(--dark-orange);
}

.stacked-menu__item-link:hover span,
.stacked-menu__item-link:hover {
    text-decoration: none !important;
}

.h-info h3,
.h-page__title,
.list-snippet__title-link,
.list-snippet__fullname,
.n-dropdown-menu__item-link_flow,
.news-block__title,
.h-message__title,
.page-header__stats-value,
.footer__link:hover,
.footer__link,
.footer-block__title,
.promo-item__aside,
.stacked-counter__value_magenta,
.user-info__nickname_doggy,
#TMpanel .container .bmenu>a,
.post__text-html h1 a:hover,
.post__text-html h1 a:active,
.post__text-html h2 a:hover,
.post__text-html h2 a:active,
.post__text-html h3 a:hover,
.post__text-html h3 a:active,
.post__text-html h4 a:hover,
.post__text-html h4 a:active,
.post__text-html h5 a:hover,
.post__text-html h5 a:active,
.post__text-html h6 a:hover,
.post__text-html h6 a:active,
.post__text-html a:hover,
.post__text-html a:visited,
.post__type-label,
.post-info__meta-label {
    color: var(--orange);
    text-decoration: none;
}

.company-links__title:hover {
    color: var(--text-color) !important;
}

.default-block__content {
    padding: 0 30px;
}

.list-snippet__nickname,
.post__text-html font {
    color: var(--dark-orange)
}

.default-block__polling-title,
.h-info h2:nth-child(n+2),
.company-tweet__username:link,
#tracker-page .tracker-table__cell.comment_count>a,
.topic-form form .item>label,
.tabs-menu__item-counter_total,
.is-subscribed .list-snippet__title-link,
.is-subscribed .list-snippet__fullname,
.icon-svg_chevron_flows,
.btn_flow-toggle .btn_inner,
.user-info__nickname_small,
.voting-wjt__counter_positive,
.post-stats__comments-count_new,
.news-topic__attr_comments-new,
.companies-rating__rating,
.stacked-menu__item-counter,
.post__title_link:visited,
.company-links__link,
.page-header__stats-label,
.footer__copyright,
.post-info__date,
.user-info__nickname_doggy:hover,
.user-info__nickname_small:hover,
.inline-list__item_hub a:hover,
.nav-links__item a:hover {
    color: var(--dark-orange);
}

.tabs-menu__item-text_active,
.active .tabs-menu__item-text {
    color: #4d80aa !important;
}

#tracker-page .tracker-table__header,
form .item input[type=password],
form .item input[type=text],
form .item input[type=email],
.search-field__input[type=text] {
    background-color: var(--blue);
    border-color: var(--border-color);
    color: var(--text-color);
}

.default-block__footer_polling,
.footer-menu__item-link:hover,
.footer-menu__item-link,
.search-form__field,
#tracker-page .empty_list,
#tracker-page .tracker-table__header,
.topic-form form .item .description,
.form-checkbox__label,
.form-checkbox__fake,
.h-form__group-title,
.notifications-table__cell_label,
.notifications-table__title-head,
.h-form-field__message,
.form-fileupload__desc,
.h-form-field__label,
.hub-info__title,
.stacked-menu__item-link,
.comment-form__title,
.footer-misprints,
.sidebar-block__list>li,
.tags-cloud li a,
.sidebar-block__paragraph,
.sort-panel__item-toggler,
.statistics-data__label,
.list-snippet__desc,
.list-snippet__lifetime,
.fonts-loaded .page-header__title,
.companies-rating__name,
.tabs-menu__item-text,
.post-info__meta-counter,
.news-topic__attr,
.h-message__content,
.company-links__title,
.defination-list__value>a,
.defination-list__link,
.defination-list__value,
.post__translatation-link,
.page-header__info-desc,
.comment__message,
.comment-form__preview,
.comments-section__head *,
.promo-item__title,
.icon-svg_logo-mk,
.icon-svg_logo-mk:hover,
.default-block__header-title,
.stacked-counter__label,
.user-info__fullname,
.user-info__specialization,
.post-share__title,
.inline-list__item_hub a,
.post__time,
.default-block__header h3,
.post-info__title:visited,
.post-info__title-link:visited,
.fonts-loaded .post-info__title,
.icon-svg_logo-habrahabr,
.nav-links__item a,
.post__text-html,
.post-info__title,
.news-topic__title {
    color: var(--text-color);
    text-decoration: none;
}

.post-info__title:visited,
.news-topic__title:visited {
    color: var(--dark-orange);
}

a.post__type-label,
.btn_navbar_write-topic,
.btn_navbar_search,
.nav-links__item a,
.layout__elevator {
    transition: all 0.4s ease-in-out
}

.n-dropdown-menu__item_border {
    margin-top: 0px;
    border-color: var(--border-color);
    padding-top: 0;
}

.n-dropdown-menu__item-link {
    border-left: 2px solid transparent;
}

.n-dropdown-menu__item-link:hover {
    border-left-color: var(--orange);
    background-color: transparent;
}

.buttons button:hover,
.buttons input[type=button]:hover,
.buttons input[type=submit]:hover,
.buttons a.button:hover {
    color: var(--text-color);
    border-color: var(--border-color);
}

.company-app__description,
.company-app__title,
.h-info table th,
.h-info table td,
.h-info,
.h-info code,
.h-info li,
.h-info p,
.comment__message p,
.comment-form__preview p,
.company-tweet__text,
.post-donate__title,
.search-form__field,
.topic-form form .item input[type=password],
.topic-form form .item input[type=text],
.topic-form form .item input[type=email],
.chosen-container-multi .chosen-choices .search-field input[type=text],
.chosen-container-multi .chosen-choices,
.topic-form form .item .checkbox_single label,
.tm-editor__footer-help a,
.сm-editor__footer-checkbox,
.buttons button,
.buttons input[type=button],
.buttons input[type=submit],
.buttons a.button,
.app-client__title,
form .item>label,
.user_settings .upgrade_settings_form p,
.h-form-select__control,
.popup__head-title,
.beta-anounce__text p,
.empty-placeholder__message,
.profile-section__title,
.profile-section__user-hub_cross,
.n-dropdown-menu__item-link,
.checkbox__label,
.radio__label,
.tm-editor__textarea {
    color: var(--text-color);
}

.tabs-menu__item-text_active,
.active .tabs-menu__item-text {
    width: 100%;
}

.topic-form .blue_buttons_panel {
    padding-left: 0px;
}

.default_block_polling,
.h-info table,
.h-info table th,
.h-info table td,
.post-donate,
.search-form__field,
#tracker-page .tracker-table__cell,
#tracker-page .tracker-table__header,
.topic-form form .item input[type=password],
.topic-form form .item input[type=text],
.topic-form form .item input[type=email],
.chosen-container-multi .chosen-choices,
.tm-editor__footer-help,
.tm-editor__footer,
.tm-editor__post-area,
.switch-light__button,
.switch-light input:checked~.switch-light__buttons .switch-light__button:first-child span,
.wysiwyg-toolbar,
.tabs-menu__item_devided,
.tabs-menu__item_devided.active,
.tm-editor__tabs,
.topic-form.topic_add,
.topic-form.sandbox_edit,
.buttons button,
.buttons input[type=button],
.buttons input[type=submit],
.buttons a.button,
.habracaptcha__container,
.installed-apps__item_divided:first-child,
.h-form__group-title,
.notifications-table__row,
.notifications-table__title-head,
.h-form-select__control,
.h-form-select__control[disabled],
.column-wrapper_tabs .sidebar_right,
.post__text-html table td,
.post__text-html table th,
.post__text-html table,
.page-header_bordered,
.tm-editor__textarea,
.tabs-menu,
.sandbox-panel,
.sort-panel,
.n-dropdown-menu_flows,
.dropdown_active .dropdown-container,
.toggle-menu__most-read,
.toggle-menu_most-comments,
.toggle-menu,
.news-block__footer,
.news-block__header,
.default-block__footer,
.stacked-menu__item_devided,
.fonts-loaded .post__title_link,
.column-wrapper_bordered,
.h-message,
.company-info__contacts,
.company-info_post-additional,
.company-info__about,
.footer-block__title,
.comments-section__head,
.promo-block__footer,
.promo-block__header,
.promo-block,
.btn_outline_grey,
.post-share,
.post-stats,
.author-panel,
.default-block__header,
.content-list__item_devided,
.layout__row_services #TMpanel,
.layout__row_navbar {
    border-color: var(--border-color);
}

.h-info table thead,
.h-info code,
.comment__head_new-comment,
.search-form__field,
.chosen-container-multi .chosen-choices,
.tm-editor__footer,
.tabs-menu__item_devided.active,
.tm-editor__tabs,
.buttons button,
.buttons input[type=button],
.buttons input[type=submit],
.buttons a.button,
.habracaptcha__container,
.h-form-select__control,
.h-form-select__control[disabled],
.form__legend_lang-settings,
.popup,
.empty-placeholder,
.profile-section__user-hub_cross,
.tm-editor_comments,
.n-dropdown-menu_flows,
.dropdown_active .dropdown-container,
.megapost-teasers,
.company-info__about,
.post__translatation,
.comment__head_topic-author,
.promo-block__header,
.layout__row_services #TMpanel,
.layout__row_navbar,
.layout__elevator:hover,
.default-block {
    background-color: var(--blue) !important;
}

.post-donate,
.topic-form .blue_buttons_panel,
.switch-light__button,
.switch-light input:checked~.switch-light__buttons .switch-light__button:first-child span,
.n-dropdown-menu,
.tm-editor__textarea,
a.sort-panel__item-toggler.active,
.toggle-menu__most-read,
.toggle-menu_most-comments,
.company-info__author,
.toggle-menu__item-link,
.layout__row,
.post-share,
.layout__row_body {
    background-color: var(--dark-blue);
}

.toggle-menu__item-link {
    margin: 0;
}

.company-app__image,
.checkbox__label:before,
.radio__label:before,
.companies-rating__img,
.social-icons__item-link,
.company-info__image-pic,
.form-checkbox__label:before,
.form-checkbox__fake:before,
.form-checkbox__real:checked+.form-checkbox__label:before,
.form-checkbox__real:checked+.form-checkbox__fake:before,
.app-client__image,
.media-obj__image-pic,
.btn_navbar_user-dropdown>img {
    border-radius: 50%;
}

.h-form-input__control {
    background-color: var(--blue);
    color: var(--text-color);
    border-color: var(--border-color);
}

.btn,
.post-donate,
.page-header__banner img,
.post__text-html img,
.post__text-html blockquote,
.buttons button,
.buttons input[type=button],
.buttons input[type=submit],
.buttons a.button,
.habracaptcha__container,
form .item input[type=password],
form .item input[type=text],
form .item input[type=email],
.tm-button_progress,
.tm-button_submit,
.h-form-input__control,
.h-form-select__control,
.empty-placeholder,
.btn_medium,
.btn_x-large,
.search-field__input.search-field__input_suggest[type=text],
.author-panel,
.post-share,
.tm-editor,
.toggle-menu__most-read,
.toggle-menu_pagination,
.promo-block,
.dropdown-container,
.btn+.btn,
.toggle-menu,
.post__habracut-btn,
.post-stats,
.default-block,
.company-info_post-additional {
    border-radius: var(--border-radius);
}

.search-field__input.search-field__input_suggest[type=text],
.empty-placeholder,
.tm-editor_comments,
.promo-block,
.company-info_post-additional,
.post-donate,
.default-block {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.42);
}

.toggle-menu__item_pagination:hover {
    background-color: var(--dark-blue);
}


/* *
Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b
*/

html body pre .hljs {
    display: block;
    overflow-x: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 0.5em;
    color: #abb2bf;
    background: #282c34;
    border-color: var(--border-color);
    font-family: monospace, monospace !important;
}

html body pre .hljs-comment,
html body pre .hljs-quote {
    color: #5c6370;
    font-style: italic;
}

html body pre .hljs-doctag,
html body pre .hljs-keyword,
html body pre .hljs-formula {
    color: #c678dd;
}

html body pre .hljs-section,
html body pre .hljs-name,
html body pre .hljs-selector-tag,
html body pre.hljs-deletion,
html body pre .hljs-subst {
    color: #e06c75;
}

html body pre .hljs-literal {
    color: #56b6c2;
}

html body pre .hljs-string,
html body pre .hljs-regexp,
html body pre .hljs-addition,
html body pre .hljs-attribute,
html body pre .hljs-meta-string {
    color: #98c379;
}

html body pre .hljs-built_in,
html body pre .hljs-class .hljs-title,
html body pre .hljs-title {
    color: #e6c07b;
}

html body pre .hljs-attr,
html body pre .hljs-variable,
html body pre .hljs-template-variable,
html body pre .hljs-type,
html body pre .hljs-selector-class,
html body pre .hljs-selector-attr,
html body pre .hljs-selector-pseudo,
html body pre .hljs-number {
    color: #d19a66;
}

html body pre .hljs-symbol,
html body pre .hljs-bullet,
html body pre .hljs-link,
html body pre .hljs-meta,
html body pre .hljs-selector-id,
html body pre.hljs-title {
    color: #61aeee;
}

html body pre .hljs-emphasis {
    font-style: italic;
}

html body pre.hljs-strong {
    font-weight: bold;
}

html body pre .hljs-link {
    text-decoration: underline;
}


/* Оформление страницы авторизации */

.layout {
    background-color: var(--dark-blue)
}

.shadow-box {
    box-shadow: var(--shadow-block);
    background-color: var(--blue);
    border: 1px solid var(--border-color);
}

.shadow-box__title,
.form__field-label,
.form-additional-message {
    color: var(--text-color);
}

#login_form .button_primary {
    background-color: var(--dark-orange);
    color: var(--dark-blue);
    font-weight: bold;
    transition: background-color 200ms ease-out;
}

#login_form .button_primary:hover {
    color: var(--dark-blue);
    background-color: var(--orange);
}

#login_form .form__field-input {
    color: var(--text-color);
    background-color: var(--dark-blue);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.form__field_socials .socials-buttons__button:not(:hover) {
    background-color: var(--dark-blue);
}


/* Фикс цветов уведомлений: https://habr.com/ru/tracker/ */

#tracker-page tr {
    display: flex;
}

#tracker-page .tracker-table {
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--shadow-block);
    margin-top: 20px;
}

#tracker-page .tracker-table__row.new,
#tracker-page tr:first-of-type {
    background-color: var(--blue);
}

#tracker-page tr:first-of-type .tracker-table__header:last-child {
    padding-right: 0;
    margin-right: 15px;
    width: inherit;
}

#tracker-page tr .post_author {
    padding-left: 0;
    margin-left: 15px;
    min-width: 140px;
}

#tracker-page tr .post_title {
    flex-grow: 1;
}

#tracker-page .tracker-table__row.new .post_title>a {
    color: var(--orange);
}

#tracker-page .tracker-table__cell.post_title>a {
    color: var(--text-color);
}

#tracker-page tr .comment_count {
    display: flex;
    align-items: center;
}

#tracker-page tr .comment_count a:last-of-type {
    padding-left: 5px;
}

#tracker-page tr .tracker-table__cell.checkbox {
    display: flex;
    align-items: center;
    padding-right: 0;
    margin-right: 15px;
}

#tracker-page tr:last-of-type .tracker-table__cell {
    border: none;
}


/* Белый заголовок в статье */

.post__title-text {
    color: var(--text-color);
}

.post__title a {
    color: var(--text-color);
}

.post__title:hover a {
    color: var(--dark-orange);
}


/* Блок "Новости" в ленте */

.content-list__item_news-block {
    background-color: var(--blue);
    padding: 20px;
    margin-bottom: 25px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-block);
    border: 1px solid var(--border-color);
}

.fonts-loaded .news-topic__title {
    color: var(--text-color);
}

.fonts-loaded .news-topic__title:hover {
    color: var(--dark-orange);
}

.default-block {
    border: 1px solid var(--border-color);
}


/* Посты в ленте отдельными блоками */

.content-list__item_post:first-child {
    padding-top: 20px;
}

.content-list__item_post {
    background-color: var(--blue);
    padding: 20px;
    margin-bottom: 25px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-block);
}

.content-list__item_post>.default-block,
.content-list__item_post>.promo-block {
    margin: -20px;
    box-shadow: none;
}

.content-list__item_post>.default-block .default-block__header-title,
.promo-block .promo-block__title-link {
    color: var(--orange);
}


/* Пост на странице поста отдельным блоком */

.post__wrapper {
    background-color: var(--blue);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-block);
}

.content-list__item_post:last-child {
    padding-bottom: 20px;
}

.post-stats_post {
    width: 100%;
}

.post-stats__item_comments {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}


/* Скроллбар */

::-webkit-scrollbar {
    width: .55%;
    min-width: 6px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--dark-blue);
}


/* Блок "Читают сейчас" */

.js-ad_sticky {
    max-height: calc(100vh - 20px);
    overflow: auto;
    border-radius: var(--border-radius);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.42) !important;
    top: 10px;
}


/* Теги */

.post__tags-label,
.inline-list__item_tag:after {
    color: var(--text-color)
}

.bmenu__label {
    color: var(--text-color)
}


/* Панелька рейтинга, закладок, комментов у поста */

.icon-svg_bookmark,
.bookmark__counter,
.bookmark-btn:hover .icon-svg_bookmark,
.bookmark-btn:hover .bookmark__counter,
.post-stats__views-count,
.post-stats__comments-link:hover,
.post-stats__comments-link {
    color: var(--text-color)
}

.bookmark-btn_is-added .icon-svg_bookmark,
.bookmark-btn_is-added:hover .icon-svg_bookmark {
    color: var(--red-color);
}

.teaser__body-title {
    color: var(--text-color);
}

.teaser__body-title:hover {
    color: var(--orange);
}


/* Тостер */

.icon-svg_logo-toster,
.icon-svg_logo-toster:hover {
    color: var(--text-color);
}

.promo-item__attrs-item_nobullet {
    color: var(--text-color);
}


/* Фрилансим */

.icon-svg_logo-freelansim,
.icon-svg_logo-freelansim:hover {
    color: var(--text-color);
}


/* Самое читаемое */

.toggle-menu__most-read {
    margin-top: 20px;
}


/* Поиск с селектом потоков */

.search-field__wrap {
    box-shadow: var(--shadow-block);
}

.search-field__input[type="text"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-form__field[type="text"]::placeholder,
.search-field__input[type="text"]::placeholder {
    color: var(--text-color);
    opacity: 0.5;
}

.search-field__select {
    background-color: var(--blue);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.search-field__wrap .search-field__btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* Заголовок хаба */

.page-header__info-title {
    color: var(--orange);
}


/* Ники авторов вклада в хаб */

.rating-info__title {
    color: var(--text-color);
}

.rating-info__progress {
    background-color: var(--dark-blue);
}


/* blockquote */

.post__text-html blockquote {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--dark-blue);
    border-left: 2px solid var(--orange);
    padding-left: 30px;
}


/* Опрос */

.default-block__content_polling {
    padding: 30px 30px;
}

.poll-result__data-percent,
.poll-result__data-votes {
    color: var(--text-color);
}

.poll-result__data-label {
    color: var(--text-color);
    font-weight: bold;
}

.poll-result__progress {
    background-color: var(--light-blue);
}

.poll-result__data-percent_winner {
    color: var(--orange);
}

.poll-result__data-label.poll-result__my-vote {
    color: var(--orange);
}

.poll-result__data-label.poll-result__my-vote:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%0A%20%3Cpath%20fill%3D%22%23ffc000%22%20d%3D%22M7%200c-3.866%200-7%203.134-7%207s3.134%207%207%207%207-3.134%207-7c0-3.866-3.134-7-7-7zM6.010%209.599v0h-0.001l-2.475-2.475%200.742-0.742%201.733%201.733%203.713-3.713%200.742%200.742-4.455%204.455z%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
}

.poll-result__bar {
    background-color: var(--dark-blue);
}

.poll-result__progress_winner {
    background-color: var(--orange);
}


/* Бейдж уведомлений */

.badge {
    background-color: var(--red-color);
    color: var(--dark-blue);
}


/* Страница статьи, например, https://habr.com/ru/article/460229/ */

.megapost-cover {
    margin-bottom: 0;
}

.t118__line {
    background-color: var(--border-color) !important;
}

#allrecords,
#allrecords .t-rec [class*=_artboard],
#allrecords [class*=_test_inner-space],
#allrecords .t-valign_middle,
#allrecords [class*=_quest-img],
#allrecords [class*=_answers],
#allrecords [class*=_btn-wrapper],
#allrecords .t-text[class*=_wrapper],
#allrecords [class*=_result] {
    background-color: var(--blue) !important;
}

#allrecords .t-descr,
#allrecords .t-descr *:not(a),
#allrecords .t-text,
#allrecords .t-text *:not(a):not([class*=hljs]),

/* #allrecords .t-text *:not([class*=hljs]), */

#allrecords .t-heading,
#allrecords .t-heading *:not(a) {
    color: var(--text-color) !important;
}

#allrecords .t-descr a,
#allrecords .t-descr a *,
#allrecords .t-text a,
#allrecords .t-text a *,
#allrecords .t-heading a *,
#allrecords .t-heading a {
    color: var(--light-blue) !important;
}

#allrecords .t-descr a:hover,
#allrecords .t-descr a:hover *,
#allrecords .t-text a:hover,
#allrecords .t-text a:hover *,
#allrecords .t-heading a:hover *,
#allrecords .t-heading a:hover {
    color: var(--orange) !important;
}

.t-container .gg-format-header {
    color: var(--orange);
}

.t-container .gg-format-paragraph {
    color: var(--text-color);
}

.t-slds__arrow-withbg {
    background-color: var(--dark-blue) !important;
    box-shadow: var(--shadow-block);
    border: 1px solid var(--border-color);
}

.t-slds__arrow-withbg polyline {
    stroke: var(--text-color);
}

.t-slds__arrow-withbg:hover {
    border: 1px solid var(--dark-orange);
}

.t-slds__arrow-withbg:hover polyline {
    stroke: var(--orange);
}

.t-slds__bullet .t-slds__bullet_body {
    background-color: var(--dark-blue) !important;
}

#allrecords .t-slds__bullet_wrapper .t-slds__bullet.t-slds__bullet_active .t-slds__bullet_body {
    background-color: var(--dark-orange) !important;
}

#allrecords .t-slds__bullet_wrapper .t-slds__bullet:hover .t-slds__bullet_body {
    background-color: var(--orange) !important;
}

#allrecords [class*=_artboard] .tn-elem[data-elem-id] .tn-atom {
    color: var(--text-color);
}

#allrecords .t-valign_middle {
    padding: 45px 45px 65px;
    box-shadow: var(--shadow-block);
}

#allrecords .t-container .t-uptitle,
#allrecords .t-container .t-name {
    background-color: var(--blue);
    color: var(--text-color);
    margin-bottom: 0;
    padding-bottom: 20px;
}

.t-uptitle span {
    color: var(--text-color);
}

[class*="_quest-info"] {
    padding-bottom: 0;
}

#allrecords [class*=_test_inner-space] {
    padding: 0 !important;
}


/* Формулы */

.MathJax_SVG_Display #MathJax_Zoom {
    background-color: var(--dark-blue);
    box-shadow: var(--shadow-block);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
}